body {
Background-color: Darkolivegreen;
Text-align: Center;

}
.p1{
  font-style: normal;
  color: #d3830a;
}  

.parque {
  width: 50%;
  border: 2px;
  marigin: 50px;
  padding: 50px; 
  display: flex;
  justify-content: center;
}
